<nav class="navbar-vetor">
  <img class="icon-home" src="../../../assets/home-vetor.svg" alt="">
  <img class="icon-logo" src="../../../assets/LogoObservatorioNavBar.svg" alt="">

  <div class="menu-overlay" *ngIf="sideActive"></div>

  <div class="menu-siderbar">
    <div class="header-side">
      <img class="icon-logo" src="../../../assets/LogoObservatorioNavBar.svg" alt="">
      <ul>
        <a href=""><li>Dashboard</li></a>
        <a href=""><li>Disciplinas</li></a>
        <a href=""><li>Alunos</li></a>
        <a href=""><li>Monitoramento</li></a>
      </ul>
    </div>

    <div class="footer-side">
      <img src="../../../assets/foto-perfil.svg" alt="">
      <div class="bloco-nomes">
        <span>Nome</span>
        <span>Sobrenome</span>
      </div>
      <img class="icone-sair" src="../../../assets/icon-logout.svg" alt="">
    </div>

  </div>
</nav>
