<div *ngIf="!loading && !pageNotFound">
  <div class="flex p-5 justify-between">
    <h1 class="text-3xl">Dashboard Geral</h1>
  </div>

  <div class="grid font-bold p-2 m-2 mt-5 rounded-md gap-1 bg-[#F0EFEE]">
    <mat-accordion>
      <mat-expansion-panel hideToggle #hideToggle class="flex justify-between">
        <mat-expansion-panel-header>
          <mat-panel-title class="font-semibold text-xl uppercase">
            Filtros
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-form-field class="mx-1" appearance="fill">
          <mat-label>Período</mat-label>
          <mat-select [formControl]="formFiltroPeriodo" multiple>
            <mat-select-trigger>
              {{formFiltroPeriodo.value?.[0] || ''}}
              <span *ngIf="(formFiltroPeriodo.value?.length || 0) > 1" class="example-additional-selection">
                (+{{(formFiltroPeriodo.value?.length || 0) - 1}} {{formFiltroPeriodo.value?.length === 2 ? 'outro' :
                'outros'}})
              </span>
            </mat-select-trigger>
            <mat-option *ngFor="let periodo of periodos" [value]="periodo">{{periodo}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="mx-1 w-60" appearance="fill">
          <mat-label class="capitalize">exibir reprovados por falta?</mat-label>
          <mat-select [formControl]="formFiltroAlunosReprovadosPorFalta">
            <mat-option [value]="true">Sim</mat-option>
            <mat-option [value]="false">Não</mat-option>
          </mat-select>
        </mat-form-field>
        <div class="grid justify-items-end">
          <button *ngIf="hideToggle._getExpandedState() === 'expanded'"
            class="p-2 border-solid border-[#000] border-2 rounded-md uppercase"
            (click)="aplicarFiltro()">Aplicar</button>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div class="grid sm:grid-cols-1 md:grid-cols-2 place-content-center gap-10 p-2 m-2 mb-5 rounded-md bg-[#F0EFEE]">
    <div class="card border-4 rounded-md border-[#5EC270]">
      <!-- grafico sexo barra -->
      <h5 class="font-semibold p-1 text-center bg-[#5EC270] capitalize">total de alunos por sexo</h5>
      <p-chart type="bar" #chart1 [data]="dashboardSexo" [responsive]="true"></p-chart>
    </div>
    <div class="card border-4 rounded-md border-[#5EC270] capitalize">
      <!-- grafico situacao disciplina linha -->
      <h5 class="font-semibold p-1 text-center bg-[#5EC270] capitalize">Situação das notas por período</h5>
      <p-chart type="bar" #chart2 [data]="basicDataFrequenciaNotas" [responsive]="true"></p-chart>
    </div>
    <div class="card border-4 rounded-md border-[#5EC270]">
      <!-- grafico situacao alunos barra -->
      <h5 class="font-semibold p-1 text-center bg-[#5EC270] capitalize">situação dos alunos por período</h5>
      <p-chart type="bar" #chart3 [data]="basicDataSituacaoAlunos" [responsive]="true"></p-chart>
    </div>
    <div class="card border-4 rounded-md border-[#5EC270]">
      <!-- grafico notas disciplinas barra -->
      <h5 class="font-semibold p-1 text-center bg-[#5EC270] capitalize">Notas das disciplinas por período</h5>
      <p-chart type="bar" #chart4 [data]="basicDataNotasDisciplinas" [responsive]="true"></p-chart>
    </div>
    <img [src]="chartImg[2]" alt="" />
    <!-- TODO descomentar para usar o botao de export <button (click)="export([chart1, chart2, chart3, chart4])">Export</button> -->
  </div>

  <div class="flex p-5 justify-between">
    <h1 class="text-3xl">Disciplinas</h1>
  </div>

  <p-table #dt dataKey="id" selectionMode="single" [value]="disciplinasResumidas" styleClass="p-datatable-extracao"
    [rowHover]="true" responsiveLayout="scroll" [filterDelay]="0">
    <div></div>
    <ng-template pTemplate="header">
      <tr>
        <th>
          <div class="flex justify-content-between align-items-center">
            Código
          </div>
        </th>
        <th>
          <div class="flex justify-content-between align-items-center">
            Nome
          </div>
        </th>
        <th>
          <div class="flex justify-content-between align-items-center">
            Carga horária
          </div>
        </th>
        <th>
          <div class="flex justify-content-between align-items-center">
            Período Matriz
          </div>
        </th>
        <th>
          <div class="flex justify-content-between align-items-center">
            Período Letivo
          </div>
        </th>
        <th>
          <div class="flex justify-content-between align-items-center">
            Ação
          </div>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-disciplinasResumidas>
      <tr class="p-selectable-row" [pSelectableRow]="disciplinasResumidas">
        <td>
          <span class="p-column-title">Código</span>
          {{disciplinasResumidas.codigo}}
        </td>
        <td>
          <span class="p-column-title">Nome</span>
          {{disciplinasResumidas.nome}}
        </td>
        <td>
          <span class="p-column-title">Carga Horária</span>
          {{disciplinasResumidas.cargaHoraria}} hrs
        </td>
        <td>
          <span class="p-column-title">Periodo Matriz</span>
          {{disciplinasResumidas.periodoMatriz}}º
        </td>
        <td>
          <span class="p-column-title">Periodo Letivo</span>
          {{disciplinasResumidas.periodoLetivo}}
        </td>
        <td>
          <span class="p-column-title">Ação</span>
          <button>
            <mat-icon class="flex text-center px-1 text-4xl" [id]="disciplinasResumidas.id"
              (click)="viewDisciplina($event)">pageview</mat-icon>
          </button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="8">Nenhuma disciplina encontrada!</td>
      </tr>
    </ng-template>
  </p-table>
  <p-paginator (onPageChange)="montarPaginacao($event)" [rows]="pageSize" [totalRecords]="totalElements"
    [rowsPerPageOptions]="[5, 10, 25, 50]"></p-paginator>
</div>
<div *ngIf="loading" class="grid justify-items-center uploader-status mt-10 p-40 bg-[#c1c1c1] bg-opacity-40">
  <mat-spinner></mat-spinner>
  <span class="mt-5 text-xl font-thin">Carregando Dashboard . . .</span>
</div>
<div *ngIf="pageNotFound" class="grid justify-items-center uploader-status mt-10 p-40 bg-[#c1c1c1] bg-opacity-40">
  <div>
    <i class="pi pi-chart-bar mx-4 text-red-600" style="font-size: 5rem"></i>
    <i class="pi pi-chart-line mx-4 text-green-600" style="font-size: 5rem"></i>
    <i class="pi pi-chart-pie mx-4 text-blue-600" style="font-size: 5rem"></i>
  </div>
  <span class="mt-5 text-xl font-thin capitalize">Nenhuma extração cadastrada</span>
  <button class="p-2 mt-10 border-solid border-[#000] border-2 rounded-md" routerLink="/nova-extracao">NOVA EXTRAÇÃO SUAP</button>
</div>
