<div class="container">
  <h1>Cadastro de Extração SUAP</h1>
  <form [formGroup]="form">

          <div class="bloco-input">
              <mat-form-field>
                <input matInput placeholder="Titulo" formControlName="titulo" required>
              </mat-form-field>

              <mat-form-field>
                <input matInput placeholder="Período Letivo" formControlName="periodoLetivo" required>
              </mat-form-field>

              <mat-form-field>
                <mat-label>Tipo do Período</mat-label>
                <mat-select formControlName="periodoLetivoTipo" required>
                  <mat-option value="BIMESTRE">Bimestre</mat-option>
                  <mat-option value="TRIMESTE">Trimestre</mat-option>
                  <mat-option value="SEMESTRE">Semestre</mat-option>
                </mat-select>
              </mat-form-field>
          </div>

          <div class="bloco-file">
            <label for="myfile">Anexar arquivos (.XLS .XLSX) </label>
            <div class="item-file">
              <label class="estilo-label-file" for="primeiroArquivo">Anexar Arquivo 1</label>
                <input type="file" name="primeiroArquivo" id="primeiroArquivo" accept=".xls, .xlsx" required/>
            </div>

             <!--  <div class="item-file">
                <label class="estilo-label-file" for="arquivoTwo">Anexar Arquivo 2</label>
                <input type="file" name="arquivoTwo" id="arquivoTwo" accept=".xls, .xlsx" (change)="onFileChange($event)" required/>
              </div> -->
          </div>

          <mat-form-field class="bloco-descricao">
            <mat-label>Descrição</mat-label>
            <textarea rows="10" matInput formControlName="descricao" required></textarea>
          </mat-form-field>

          <div>
            <button (click)="voltarButtonEvent()">Voltar</button>
            <button type="submit" (click)="salvarExtracaoEvent()">Finalizar Cadastro</button>
          </div>
    </form>
  </div>
