<ng-container>
  <h1 class="text-3xl text-center m-6">Cadastro de Extração SUAP</h1>
  <form [formGroup]="form" class="bg-[#F0EFEE] grid gap-5 grid-cols-3 w-3/5 m-auto p-6 rounded-md border-double border-4 border-[#9EBE88]">
    <mat-form-field>
      <input matInput placeholder="Titulo" formControlName="titulo" required>
    </mat-form-field>

    <mat-form-field>
      <input type="number" matInput placeholder="Período Letivo" formControlName="periodoLetivo" required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Tipo do Período</mat-label>
      <mat-select formControlName="periodoLetivoTipo" required>
        <mat-option value="BIMESTRE">Bimestre</mat-option>
        <mat-option value="TRIMESTE">Trimestre</mat-option>
        <mat-option value="SEMESTRE">Semestre</mat-option>
      </mat-select>
    </mat-form-field>

    <p-fileUpload class="col-start-1 col-end-4" id="uploadFile" name="demo[]" [showUploadButton]="false" chooseLabel="Anexar" styleClass="classe" cancelLabel="Limpar" [previewWidth]="200"
            [multiple]="true" accept=".xls, .xlsx" [maxFileSize]="1000000000"  (onSelect)="onChoose($event)" (onClear)="onClear()" (onRemove)="onRemove($event)">
            <!-- <ng-template *ngIf="!onValidarForm()" pTemplate="toolbar">
              <div class="text-[#d63131] flex mt-1">2 arquivos necessários <mat-icon class="text-[#d63131] rotate-45">add_circle_outline</mat-icon></div>
            </ng-template>  TODO continuar daqui -->
    </p-fileUpload>

    <mat-form-field class="col-start-1 col-end-4">
      <mat-label>Descrição</mat-label>
      <textarea rows="10" matInput formControlName="descricao" required></textarea>
    </mat-form-field>

    <div class="flex justify-center col-span-3">
      <button class="p-2 mx-1 rounded-xl bg-[#9EBE88] border-opacity-70 border-2 border-[#337940]" (click)="voltarButtonEvent()">Voltar</button>
      <button [ngClass]="onValidarForm() ? 'border-none opacity-50' : 'bg-[#9EBE88]'" class="p-2 mx-1 rounded-xl bg-[#9EBE88] border-solid border-opacity-70 border-2 border-[#337940]" type="submit" [disabled]="onValidarForm()" (click)="salvarExtracaoEvent()">Finalizar Cadastro</button>
    </div>
  </form>
</ng-container>

<app-alert></app-alert>
