:host ::ng-deep p-fileUpload .p-button {
  background-color: #00420C;
  border: none;
}

:host ::ng-deep p-fileUpload .p-button:hover{
  background-color: #00330a;
}

:host ::ng-deep p-fileupload div div.p-fileupload-content div div div div:nth-child(1) {
  background-image: url(src/assets/img/xlsx_icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 3rem;
  padding: 3rem;
}

