<div class="flex p-5 justify-between">
  <h1 class="text-3xl">Tabela de Extrações SUAP</h1>
    <button class="p-2 border-solid border-[#000] border-2 rounded-md" routerLink="nova-extracao">NOVA EXTRAÇÃO SUAP</button>
</div>

<p-table #dt [loading]="loading" [value]="extracoes" dataKey="id" styleClass="p-datatable-extracao" [rowHover]="true" styleClass="p-datatable-extracao"
    responsiveLayout="scroll"
    [filterDelay]="0">
    
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="id">
                <div class="flex justify-content-between align-items-center">
                    Código
                    <p-sortIcon field="id"></p-sortIcon>
                    <p-columnFilter type="text" field="id" display="menu" class="ml-auto"></p-columnFilter>
                </div>
            </th>
            <th pSortableColumn="titulo">
                <div class="flex justify-content-between align-items-center">
                    Titulo
                    <p-sortIcon field="titulo"></p-sortIcon>
                    <p-columnFilter type="text" field="titulo" display="menu" class="ml-auto"></p-columnFilter>
                </div>
            </th>
            <th pSortableColumn="status">
                <div class="flex justify-content-between align-items-center">
                    Status
                    <p-sortIcon field="status"></p-sortIcon>
                    <p-columnFilter field="status" matchMode="equals" display="menu" class="ml-auto">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-dropdown (ngModel)="value" [options]="statusExtracao" (onChange)="filter($event.value)" placeholder="Any">
                                <ng-template let-option pTemplate="item">
                                    <span [class]="'customer-badge status-' + option.value">{{option.label}}</span>
                                </ng-template>
                            </p-dropdown>
                        </ng-template>
                    </p-columnFilter>
                </div>
            </th>
            <th pSortableColumn="periodoLetivo">
                <div class="flex justify-content-between align-items-center">
                    Período
                    <p-sortIcon field="periodoLetivo"></p-sortIcon>
                    <p-columnFilter type="text" field="periodoLetivo" display="menu" class="ml-auto"></p-columnFilter>
                </div>
            </th>
            <th pSortableColumn="dataCadastro">
                <div class="flex justify-content-between align-items-center">
                    Data de Cadastro
                    <p-sortIcon field="dataCadastro"></p-sortIcon>
                    <p-columnFilter type="date" field="dataCadastro" display="menu" class="ml-auto"></p-columnFilter>
                </div>
            </th>
            <th pSortableColumn="ultimaDataHoraAtualizacao">
                <div class="flex justify-content-between align-items-center">
                    Data última atualização
                    <p-sortIcon field="ultimaDataHoraAtualizacao"></p-sortIcon>
                    <p-columnFilter type="date" field="ultimaDataHoraAtualizacao" display="menu" class="ml-auto"></p-columnFilter>
                </div>
            </th>
            <th style="width: 8rem"></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-extracao>
        <tr class="p-selectable-row">
            <td>
                <span class="p-column-title">codigo</span>
                {{extracao.id}}
            </td>
            <td>
                <span class="p-column-title">titulo</span>
                {{extracao.titulo}}
            </td>
            <td>
                <span class="p-column-title">status</span>
                <span [class]="'extracao-badge status-' + extracao.status">{{extracao.status}}</span>
            </td>
            <td>
                <span class="p-column-title">periodoLetivo</span>
                {{extracao.periodoLetivo}}
            </td>
            <td>
                <span class="p-column-title">dataCadastro</span>
                {{extracao.dataCadastro | date: 'dd/MM/yyyy'}}
            </td>
            <td>
                <span class="p-column-title">ultimaDataHoraAtualizacao</span>
                {{extracao.ultimaDataHoraAtualizacao | date: 'dd/MM/yyyy'}}
            </td>
            <td style="text-align: center">
              <p-toast></p-toast>

              <p-confirmPopup ></p-confirmPopup>

              <button mat-button title="Ações" [matMenuTriggerFor]="menu" pButton type="button" class="p-button-success p-button-rounded p-button-text p-button-lg" icon="pi pi-cog"></button>
              <mat-menu class="text-center" #menu="matMenu">
                <button mat-menu-item>Visualizar<mat-icon class="flex text-center px-1">remove_red_eye</mat-icon></button>
                <button mat-menu-item (click)="confirm($event)">Cancelar<mat-icon class="flex text-center px-1">cancel</mat-icon></button>
              </mat-menu>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="8">Nenhuma extração encontrada!</td>
        </tr>
    </ng-template>
</p-table>
<p-paginator (onPageChange)="montarPagina($event)" [rows]="pageSize" [totalRecords]="totalElements" [rowsPerPageOptions]="[5, 10, 25, 50]"></p-paginator>
