:host ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
  stroke: #00420C!important;
}

.extracao-badge {
  border-radius: 2px;
  padding: 0.25em 0.5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: .3px;
}

.mat-menu-item .mat-icon {
  margin-right: 0px !important;
  vertical-align: middle;
}

.extracao-badge.status-CANCELADA {
  background-color: #ffcdd2;
  color: #c63737;
}

.extracao-badge.status-ATIVA {
  background-color: #c8e6c9;
  color: #256029;
}

.extracao-badge.status-ENVIANDO {
  background-color: #c8e6c9;
  color: #0a5ac4;
}

.extracao-badge.status-SALVANDO {
  background-color: #c8e6c9;
  color: #dbec3e;
}

.extracao-badge.status-AGUARDANDO_PROCESSAMENTO {
  background-color: #c8e6c9;
  color: #981ad3;
}

