<div class="container-plano-fundo">
  <div class="container-interno">

    <div class="flex justify-between items-center gap-3">
      <img src="../../../assets/img/icon-IFPB.svg" alt="IFPB">
      <span class="text-2xl text-white">Instituto Federal da Paraíba</span>
    </div>

    <form class="bloco-form" [formGroup]="form">

      <input type="email" placeholder="E-mail" formControlName="email" required>

      <input type="password" placeholder="Senha" formControlName="senha" required>

      <a mat-list-item routerLink="/login/cadastrar">
        cadastre-se aqui
      </a>

      <div class="container-button-entrar">
        <button class="bg-[#71C837] rounded-lg" type="submit" (click)="fazerLogin()">
          Entrar
        </button>
      </div>
    </form>

  </div>
</div>
