<div class="container-plano-fundo">
    <div class="container-interno">

      <div class="container-title">
        <img src="../../../assets/icon-IFPB.svg" alt="IFPB">
        <h1>Instituto Federal da Paraíba</h1>
      </div>

      <form #userForm="ngForm" (ngSubmit)="cadastrarUsuario(userForm.value)" class="container-form">
        <h2>Cadastrar Conta</h2>
        <div class="field">
          <label>
            <input type="text" placeholder=" " name="matricula" id="matricula" ngModel>
            <p>Digite sua matricula</p>
          </label>
        </div>

        <div class="field">
          <label>
            <input type="text" placeholder=" " name="email" id="email" ngModel>
            <p>Digite seu email</p>
          </label>
        </div>

        <div class="field">
          <label>
            <input type="password" placeholder=" " name="senha" id="senha" ngModel>
            <p>Digite sua senha</p>
          </label>
        </div>

        <div class="field">
          <label>
            <input type="text" placeholder=" " name="nome" id="nome" ngModel>
            <p>Digite seu nome</p>
          </label>
        </div>

        <div class="field">
          <select name="sexo" id="sexo" ngModel required="">
            <option value="">Selecione o seu sexo</option>
            <option value="MASCULINO">MASCULINO</option>
            <option value="FEMININO">FEMININO</option>
          </select>
        </div>

        <div class="field">
          <select name="tipo" id="tipo" ngModel>
            <option value="">Selecione o seu cargo</option>
            <option value="PROFESSOR">PROFESSOR</option>
            <option value="COPED">COPED</option>
          </select>
        </div>
        <input type="submit" value="Cadastrar">
      </form>
    </div>
  </div>
